# API 相关配置
# 接口基础路径
VITE_API_BASE_URL=/api

# 文件上传路径
VITE_UPLOAD_URL=/upload

# 站点信息配置
# 侧边栏主标题
VITE_APP_MAIN_TITLE=糖果

# 侧边栏副标题
VITE_APP_SLAVE_TITLE=光影岁月

# 站点标语 (Slogan)
VITE_APP_SLOGAN=用镜头记录生活与旅行

# 照片页面标题
VITE_APP_PHOTO_TITLE=时光荏苒，岁月如歌
